{% extends "@Contao/content_element/_base.html.twig" %}
{% use "@Contao/component/_figure.html.twig" %}
{% use "@Contao/component/_rich_text.html.twig" %}

{% block text_media %}
    {% if singleSRC is defined and singleSRC %}
        <div class="recipe-image">
            {% with {figure: figure(singleSRC, size)} %}{{ block('figure_component') }}{% endwith %}
        </div>
    {% endif %}
{% endblock %}

{% block content %}
    {{ block('text_media') }}
    {% block text %}
        <div class="recipe-info">
            <h1>{{ title }}</h1>
            {% if subheadline %}<span class="subheadline">{{ subheadline }}</span>{% endif %}
            {% if categories is not empty %}
                <div class="categories">
                    {% for category in categories %}
                        <span class="category category_{{ category.alias }}">{{ category.title }}</span>
                    {% endfor %}
                </div>
            {% endif %}
            {% if time > 0 %}<span class="recipe-time">{{ time }}</span>{% endif %}
            {% if ingredients is not empty %}
                <div class="recipe-ingredients">
                    {% for ingredient in ingredients %}
                        <div class="ingredient ingredient_{{ ingredient.ingredient.alias }}">
                            <span class="amount">{{ ingredient.amount }}</span>
                            <span class="unit unit_{{ ingredient.unit.alias }}">{{ ingredient.unit.title }}</span>
                            <span class="title">{{ ingredient.ingredient.title }}</span>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
            {% if content %}{% with {'text': content} %}{{ block('rich_text_component') }}{% endwith %}{% endif %}
        </div>
    {% endblock text %}
{% endblock content %}
