{% extends "@Contao/content_element/_base.html.twig" %}
{% use "@Contao/component/_figure.html.twig" %}
{% use "@Contao/component/_rich_text.html.twig" %}
{% use '@Contao/component/_stylesheet.html.twig' %}

{% block text_media %}
    {% if singleSRC is defined and singleSRC %}
        <div class="recipe-image">
            {% with {figure: figure(singleSRC, size)} %}{{ block('figure_component') }}{% endwith %}
        </div>
    {% endif %}
{% endblock text_media %}

{% block content %}
    {% if text %}
        <div class="rte">
            {{ text | raw }}
        </div>
    {% endif %}
    {{ block('text_media') }}
    {% block recipe %}
        <div class="recipe-info">
            {% block title %}
                <h1 class="recipe-title">{{ title }}</h1>
                {% if subheadline %}<span class="recipe-subtitle">{{ subheadline }}</span>{% endif %}
            {% endblock title %}
            {% block data %}
                <div class="recipe-data">
                    {% if time %}
                        <span class="data-time">{{ 'tl_recipe.time.0' | trans({}, 'contao_tl_recipe') }}: {{ time }} Min.</span>
                    {% endif %}
                </div>
            {% endblock data %}
            {% block rating %}
                <div class="recipe-rating">
                    {% for i in 0..5 %}
                        {% if i == 0 %}{% elseif i <= rating %}{{ source('@heartbitscontaorecipes' ~ (asset('img/star.svg'))) }}{% else %}{{ source('@heartbitscontaorecipes' ~ (asset('img/starOutlined.svg'))) }}{% endif %}
                    {% endfor %}
                </div>
            {% endblock rating %}
            {% block categories %}
                {% if categories is not empty %}
                    <div class="recipe-categories">
                        {% for category in categories %}
                            <span class="recipe-category category_{{ category.alias }}">{{ category.title }}</span>
                        {% endfor %}
                    </div>
                {% endif %}
            {% endblock categories %}
            {% if portions %}
                <div data-recipe-scaler>
                    <div class="portion-control" role="group" aria-labelledby="portion-heading">
                        <span id="portion-heading" class="visually-hidden">Portionen anpassen</span>
                        <label for="portion-input">Portionen</label>
                        <button type="button" data-action="decrease" class="stepper-btn" aria-label="Portionen verringern">&minus;</button>
                        <input
                                type="number"
                                id="portion-input"
                                data-portion-input
                                data-base-portions="{{ portions }}"
                                value="{{ portions }}"
                                min="1"
                                max="20"
                                step="1"
                                inputmode="numeric"
                                aria-describedby="portion-hint"
                        >
                        <button type="button" data-action="increase" class="stepper-btn" aria-label="Portionen erhöhen">&plus;</button>
                        <button type="button" data-action="reset" class="reset-btn">Zurücksetzen</button>
                    </div>
                    <p id="portion-hint" class="visually-hidden">Mindestens 1, maximal 20 Portionen. Menge kann auch direkt eingetippt werden.</p>
                    <p data-scaler-status class="visually-hidden" aria-live="polite" aria-atomic="true"></p>
            {% endif %}
            {% block ingredients %}
                {% if ingredients is not empty %}
                    <div class="recipe-ingredients">
                        <ul data-ingredient-list>
                            {% for ingredient in ingredients %}
                                <li class="recipe-ingredient ingredient_{{ ingredient.ingredient.alias }}" data-base-amount="{{ ingredient.amount }}" data-unit="{{ ingredient.unit.shortcode }}">
                                    <span class="ingredient-amount" data-amount>{{ ingredient.amount }}</span>
                                    <span class="ingredient-unit unit_{{ ingredient.unit.alias }}">{{ ingredient.unit.shortcode }}</span>
                                    <span class="ingredient-title">{{ ingredient.ingredient.title }}</span>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
            {% endblock ingredients %}
            {% block nutrition %}
                <div class="recipe-nutrition">
                    <ul data-nutrition-list>
                        {% if calories %}
                            <li class="recipe-nutrition nutrition-calories" data-base-amount="{{ calories }}" data-unit="kcal">
                                <span class="nutrition-amount" data-amount>{{ calories }}</span>
                                <span class="nutrition-unit unit_calories">kcal</span>
                            </li>
                        {% endif %}
                        {% if protein %}
                            <li class="recipe-nutrition nutrition-protein" data-base-amount="{{ protein }}" data-unit="g">
                                <span class="nutrition-amount" data-amount>{{ protein }}</span>
                                <span class="nutrition-unit unit_protein">g</span>
                                <span class="nutrition-title">{{ 'tl_recipe.protein.0' | trans({}, 'contao_tl_recipe') }}</span>
                            </li>
                        {% endif %}
                        {% if fat %}
                            <li class="recipe-nutrition nutrition-fat" data-base-amount="{{ fat }}" data-unit="g">
                                <span class="nutrition-amount" data-amount>{{ fat }}</span>
                                <span class="nutrition-unit unit_fat">g</span>
                                <span class="nutrition-title">{{ 'tl_recipe.fat.0' | trans({}, 'contao_tl_recipe') }}</span>
                            </li>
                        {% endif %}
                        {% if carbohydrates %}
                            <li class="recipe-nutrition nutrition-carbohydrates" data-base-amount="{{ carbohydrates }}" data-unit="g">
                                <span class="nutrition-amount" data-amount>{{ carbohydrates }}</span>
                                <span class="nutrition-unit unit_carbohydrates">g</span>
                                <span class="nutrition-title">{{ 'tl_recipe.carbohydrates.0' | trans({}, 'contao_tl_recipe') }}</span>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            {% endblock nutrition %}
            {% if portions %}
                </div>
            {% endif %}
            {% block text %}
                {% if content %}{% with {'text': content} %}{{ block('rich_text_component') }}{% endwith %}{% endif %}
            {% endblock text %}
        </div>
    {% endblock recipe %}
{% endblock content %}

{% block script %}
    {% add 'ingredient_scaler_js' to body %}
        {% set script_attributes = attrs()
            .setIfExists('nonce', csp_nonce('script-src'))
            .mergeWith(script_attributes|default)
        %}
        <script src="{{ asset('bundles/heartbitscontaorecipes/js/IngredientScaler.min.js') }}"></script>
        <script{{ script_attributes }}>
          new RecipeIngredientScaler('[data-recipe-scaler]', {

          });
        </script>
    {% endadd %}
{% endblock script %}

{% block style %}
    {% add 'heartbits_contao_recipes_css' to stylesheets %}
        {% with {file: heartbits_contao_recipes_css_file|default(asset('bundles/heartbitscontaorecipes/css/contaoRecipes.min.css'))} %}
            {{ block('stylesheet_component') }}
        {% endwith %}
    {% endadd %}
{% endblock style %}
