{% extends "@Contao/content_element/_base.html.twig" %}
{% use "@Contao/component/_figure.html.twig" %}
{% use "@Contao/component/_rich_text.html.twig" %}

{% block text_media %}
    {% if recipe.singleSRC is defined and recipe.singleSRC %}
        <div class="recipe-image">
            {% with {figure: figure(recipe.singleSRC, size)} %}{{ block('figure_component') }}{% endwith %}
        </div>
    {% endif %}
{% endblock %}

{% block content %}
    {% if recipes is not empty %}
        {% block recipe %}
            {% for recipe in recipes %}
                <div class="recipe">
                    {{ block('text_media') }}
                    {% block info %}
                        <div class="recipe-info">
                            {% block title %}
                                <h3>{{ recipe.title }}</h3>
                                {% if recipe.subheadline %}<span class="subheadline">{{ recipe.subheadline }}</span>{% endif %}
                            {% endblock title %}
                            {% block rating %}
                                {% for i in 0..5 %}
                                    {% if i == 0 %}
                                    {% elseif i <= recipe.rating %}
                                        <svg width="15" height="14" viewBox="0 0 15 14" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M7.64521 0.00973224C7.78864 0.029294 7.92673 0.0781327 8.05067 0.153121C8.17463 0.228117 8.28064 0.327177 8.36226 0.44379L8.4355 0.565767L10.0108 3.67489C10.0656 3.78294 10.1464 3.87646 10.2464 3.9474C10.3466 4.0184 10.4634 4.06482 10.586 4.08235L14.1073 4.58453C14.2518 4.60495 14.3888 4.65479 14.5115 4.72987L14.6293 4.81292L14.7332 4.91154C14.7978 4.9817 14.8519 5.06036 14.8943 5.14511L14.9489 5.27617L14.9842 5.41372C15.0094 5.5527 15.0045 5.69612 14.9695 5.83415C14.9229 6.01817 14.8245 6.18583 14.6852 6.31817L12.1379 8.73566C12.0492 8.81996 11.9826 8.92383 11.9442 9.03865C11.9059 9.15345 11.8968 9.27585 11.9176 9.39485L12.5181 12.807L12.5334 12.9484C12.5384 13.0901 12.5131 13.2319 12.4582 13.3643C12.3849 13.541 12.2622 13.6942 12.104 13.8062C11.9458 13.9181 11.7584 13.9843 11.5634 13.9976C11.3683 14.0108 11.1733 13.9703 11.0008 13.8808L7.8556 12.2691C7.746 12.2131 7.62382 12.1841 7.50007 12.1841C7.37646 12.1841 7.25468 12.2132 7.1452 12.2691L3.99802 13.8808C3.82553 13.9697 3.63143 14.0104 3.43676 13.9969C3.24218 13.9834 3.05526 13.9173 2.89747 13.8055C2.73965 13.6937 2.61712 13.5406 2.54394 13.3643C2.48903 13.2319 2.46374 13.0901 2.46871 12.9484L2.48335 12.8076L3.08389 9.3955C3.10482 9.27644 3.09557 9.15419 3.05726 9.0393C3.02851 8.95312 2.98405 8.87273 2.9261 8.80249L2.86352 8.73566L0.316214 6.31947C0.17675 6.18751 0.0783479 6.01992 0.0312568 5.8361C-0.0160314 5.65139 -0.00971638 5.45725 0.0505647 5.27617L0.105159 5.14446C0.168918 5.01698 0.259896 4.90352 0.37214 4.81162C0.521673 4.68921 0.703421 4.60992 0.896781 4.58324L4.41547 4.08235L4.50602 4.06353C4.59531 4.03989 4.67975 4.00068 4.75502 3.9474C4.85522 3.87645 4.93649 3.7831 4.99138 3.67489L6.5653 0.566416C6.65149 0.396716 6.78509 0.25305 6.95012 0.153121C7.11531 0.0531817 7.3063 0 7.50073 0L7.64521 0.00973224ZM11.1752 13.038V13.0347L11.1739 13.0295L11.1752 13.038ZM11.6386 12.7064L11.6419 12.7077L11.6373 12.7051L11.6386 12.7064ZM3.36086 12.7071L3.36286 12.7064L3.36486 12.7051L3.36086 12.7071Z" fill="currentColor"/></svg>
                                    {% else %}
                                        <svg width="15" height="14" viewBox="0 0 15 14" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M7.58691 0.506836C7.65924 0.517949 7.72914 0.54303 7.79199 0.581055C7.85531 0.619394 7.90745 0.669657 7.94824 0.726562L7.99512 0.803711L9.56445 3.90039V3.90137C9.65637 4.08247 9.79154 4.2381 9.95703 4.35547C10.1226 4.47282 10.3151 4.54847 10.5156 4.57715L14.0371 5.0791V5.08008C14.1102 5.0904 14.1799 5.11488 14.2432 5.15234L14.3115 5.2002L14.3711 5.25781C14.399 5.28929 14.4229 5.32392 14.4424 5.36133L14.4736 5.43652L14.4922 5.50879C14.4977 5.54132 14.5012 5.57426 14.5 5.60742L14.4844 5.71191C14.4611 5.80304 14.412 5.88729 14.3408 5.95508L11.7939 8.37305C11.6472 8.51246 11.5346 8.68591 11.4697 8.87988C11.4051 9.07338 11.3899 9.28006 11.4248 9.48047V9.48145L12.0254 12.8936L12.0332 12.9756C12.0343 13.0427 12.0222 13.1098 11.9961 13.1729C11.9594 13.2613 11.8976 13.3403 11.8154 13.3984C11.7332 13.4566 11.6337 13.4919 11.5293 13.499C11.4252 13.506 11.3221 13.4835 11.2314 13.4365L11.2285 13.4355L8.08398 11.8242H8.08301C7.947 11.7547 7.80031 11.7109 7.65039 11.6934L7.5 11.6846C7.29832 11.6846 7.09866 11.7319 6.91797 11.8242H6.91699L3.77051 13.4355L3.76855 13.4365C3.67676 13.4838 3.57404 13.5051 3.47168 13.498C3.39332 13.4926 3.31808 13.4712 3.25098 13.4365L3.18652 13.3975C3.10468 13.3394 3.04255 13.2611 3.00586 13.1729C2.97897 13.108 2.9667 13.0384 2.96875 12.9688L2.97852 12.877L3.57617 9.48242C3.61159 9.2809 3.59561 9.07391 3.53125 8.88086C3.4831 8.73665 3.40863 8.6021 3.31152 8.48438L3.29102 8.46094L3.22852 8.39355L3.20801 8.37305L0.660156 5.95703V5.95605L0.610352 5.90234C0.580397 5.86466 0.556192 5.8232 0.538086 5.7793L0.515625 5.71191C0.492574 5.62174 0.49593 5.52845 0.523438 5.44141L0.555664 5.3623C0.587251 5.30122 0.631706 5.24475 0.688477 5.19824C0.766298 5.13454 0.86222 5.09233 0.964844 5.07812H0.966797L4.48633 4.57715C4.49666 4.57567 4.50735 4.57439 4.51758 4.57227L4.60742 4.55273C4.61616 4.55092 4.62516 4.54916 4.63379 4.54688C4.74322 4.5179 4.84874 4.4741 4.94727 4.41699L5.04395 4.35547C5.20879 4.23875 5.34495 4.08376 5.4375 3.90137V3.90039L7.01172 0.791992L7.01074 0.791016C7.04336 0.727256 7.09113 0.67063 7.14844 0.624023L7.20898 0.581055C7.29275 0.530376 7.39021 0.501853 7.49023 0.5L7.58691 0.506836Z" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/></svg>
                                    {% endif %}
                                {% endfor %}
                            {% endblock rating %}
                            {% block categories %}
                                {% if recipe.categories is not empty %}
                                    <div class="categories">
                                        {% for category in recipe.categories %}
                                            <span class="category category_{{ category.alias }}">{{ category.title }}</span>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            {% endblock categories %}
                            {% block time %}
                                {% if recipe.time > 0 %}<span class="recipe-time">{{ recipe.time }}</span>{% endif %}
                            {% endblock time %}
                            {% block teaser %}
                                {% if recipe.teaser is defined and recipe.teaser %}{% with {'text': recipe.teaser} %}{{ block('rich_text_component') }}{% endwith %}{% endif %}
                            {% endblock teaser %}
                            {% block link %}
                                {% if recipe.jumpTo and recipe.hasContent %}<a href="{{ recipe.jumpTo }}">Zur Detailseite</a>{% endif %}
                            {% endblock link %}
                        </div>
                    {% endblock info %}
                </div>
            {% endfor %}
        {% endblock recipe %}
    {% else %}
        <p>{{ message }}</p>
    {% endif %}
{% endblock content %}
