{% extends "@Contao/content_element/_base.html.twig" %}
{% use "@Contao/component/_figure.html.twig" %}
{% use "@Contao/component/_rich_text.html.twig" %}

{% block text_media %}
    {% if singleSRC %}
        {% with {figure: figure(singleSRC, size)} %}{{ block('figure_component') }}{% endwith %}
    {% endif %}
{% endblock %}

{% block content %}
    {% if floating != 'below' %}
        {{ block('text_media') }}
    {% endif %}

    {% block ingredients %}
        {% if ingredients %}
            <ul class="step-ingredients">
                {% for ingredient in ingredients %}
                    <li>
                        <span class="ingredient-amount">{{ ingredient.amount }}</span>
                        <span class="ingredient-unit">{{ ingredient.unit.shortcode }}</span>
                        <span class="ingredient-title">{{ ingredient.ingredient.title }}</span>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endblock %}

    {# Richtext #}
    {% block text %}
        {% with {text, attributes: text_attributes|default} %}{{ block('rich_text_component') }}{% endwith %}
    {% endblock %}

    {% if floating == 'below' %}
        {{ block('text_media') }}
    {% endif %}
{% endblock %}
